In [2]:
!pip install selenium
!pip install --upgrade selenium
!pip install requests

Requirement already satisfied: selenium in c:\users\lok n go storage\anaconda3\lib\site-packages (4.14.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\lok n go storage\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\lok n go storage\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lok n go storage\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\lok n go storage\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\lok n go storage\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\lok n go storage\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\lok n go storage\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\lok n go storage\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: sniffio in c:\users\lok n go storage\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\lok n go storage\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\lok n go storage\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\lok n go storage\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\lok n go storage\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lok n go storage\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: selenium in c:\users\lok n go storage\anaconda3\lib\site-packages (4.14.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\lok n go storage\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\lok n go storage\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lok n go storage\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\lok n go storage\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\lok n go storage\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\lok n go storage\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\lok n go storage\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\lok n go storage\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: sniffio in c:\users\lok n go storage\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\lok n go storage\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\lok n go storage\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\lok n go storage\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\lok n go storage\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lok n go storage\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: requests in c:\users\lok n go storage\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lok n go storage\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lok n go storage\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lok n go storage\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lok n go storage\anaconda3\lib\site-packages (from requests) (2023.7.22)

In [3]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

#imports
from selenium import webdriver
import time 
from selenium.common.exceptions import NoSuchElementException #importing exception
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [4]:
from selenium.common.exceptions import ElementNotVisibleException    #importing exception
import time

In [5]:
from selenium.common.exceptions import ElementNotInteractableException

In [6]:
from selenium.common.exceptions import SessionNotCreatedException

In [7]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException

#### 1. Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos 

You need to find following details: 

A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [18]:
driver = webdriver.Chrome()

In [19]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [20]:
Rank = []
Name = []
Artist = []
Date = []
Views = []

In [21]:
try:
    rank_tag = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
    for i in rank_tag:
        rank = i.text
        Rank.append(rank)
except NoSuchElementException:
    Rank.append('--')

In [22]:
try:
    name_tag = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
    for i in name_tag:
        name = i.text
        Name.append(name)
except NoSuchElementException:
    Name.append('--')

In [23]:
try:
    art_tag = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
    for i in art_tag:
        artist = i.text
        Artist.append(artist)
except NoSuchElementException:
    Artist.append('--')

In [24]:
try:
    date_tag = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
    for i in date_tag:
        date = i.text
        Date.append(date)
except NoSuchElementException:
    Date.append('--')

In [25]:
try:
    view_tag = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
    for i in view_tag:
        views = i.text
        Views.append(views)
except NoSuchElementException:
    Views.append('--')

In [26]:
print(len(Rank),len(Name),len(Artist),len(Date),len(Views))

48 48 48 48 48

In [27]:
import pandas as pd
df = pd.DataFrame({'Rank':Rank[:30],'Song Name':Name[:30],'Artist':Artist[:30],'Publication Date':Date[:30],'Views in Billion':Views[:30]})
df

,Rank,Song Name,Artist,Publication Date,Views in Billion
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.48
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.28
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.82
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.45
4,5.,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.11
5,6.,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.05
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.62
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.52
8,9.,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.05
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",4.99
10,11.,"""Gangnam Style""[31]",officialpsy,"July 15, 2012",4.92
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.56
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.46
13,14.,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.09
14,15.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.95
15,16.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.89
16,17.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.89
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.80
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.75
19,20.,"""Sorry""[44]",Justin Bieber,"October 22, 2015",3.72
20,21.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.71
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.67
22,23.,"""Dark Horse""[47]",Katy Perry,"February 20, 2014",3.60
23,24.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.58
24,25.,"""Perfect""[49]",Ed Sheeran,"November 9, 2017",3.56
25,26.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.53
26,27.,"""Faded""[51]",Alan Walker,"December 3, 2015",3.53
27,28.,"""Girls Like You""[52]",Maroon 5,"May 31, 2018",3.50
28,29.,"""Shree Hanuman Chalisa""[53]",T-Series Bhakti Sagar,"May 10, 2011",3.48
29,30.,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.48

#### 2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:
A) Series
B) Place
C) Date
D) Time

In [36]:
driver = webdriver.Chrome()

In [37]:
driver.get('https://www.bcci.tv/')

In [39]:
select = driver.find_element(By.XPATH,'//div[@class="w-100 tab-pane fade  show active "]/ul/div[1]/a[2]')
select.click()

In [38]:
select = driver.find_element(By.XPATH,'//button[@class="cwc-enter"]')
select.click()

In [41]:
filters = driver.find_element(By.XPATH,'//div[@class="sec-head d-flex"]/div[2]/div/div[1]')
filters.click()

In [43]:
team= driver.find_element(By.XPATH,'//input[@class="ng-pristine ng-valid ng-empty ng-touched"]')
team.send_keys('India')

In [44]:
team_click=driver.find_element(By.XPATH,'//div[@class="cSBList active"]/div[3]')
team_click.click()

In [45]:
Series = []
Place = []
Date = []
Time = []

In [46]:
try:
    series_tag = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for i in series_tag:
        series = i.text
        Series.append(series)
except NoSuchElementException:
    Series.append('--')
    
try:
    place_tag = driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
    for i in place_tag:
        place = i.text
        Place.append(place)
except NoSuchElementException:
    Place.append('--')
    
try:
    date_tag = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for i in date_tag:
        date = i.text
        Date.append(date)
except NoSuchElementException:
    Date.append('--')

try:
    time_tag = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for i in time_tag:
        time = i.text
        Time.append(time)
except NoSuchElementException:
    Time.append('--')

In [47]:
print(len(Series),len(Place),len(Date),len(Time))

110 110 110 110

In [49]:
import pandas as pd
df = pd.DataFrame({'Series':Series,'Place':Place,'Date':Date,'Time':Time})
df

,Series,Place,Date,Time
0,ICC MENS WORLD CUP 2023,"Maharashtra Cricket Association Stadium, Pune","19 OCTOBER, 2023",9:30 AM BST
1,ICC MENS WORLD CUP 2023,"Narendra Modi Stadium, Ahmedabad","14 OCTOBER, 2023",9:30 AM BST
2,ICC MENS WORLD CUP 2023,"Arun Jaitley Stadium, Delhi","11 OCTOBER, 2023",9:30 AM BST
3,ICC MENS WORLD CUP 2023,"MA Chidambaram Stadium, Chennai","8 OCTOBER, 2023",9:30 AM BST
4,ICC MENS WORLD CUP 2023,"Himachal Pradesh Cricket Association Stadium, ...","22 OCTOBER, 2023",9:30 AM BST
...,...,...,...,...
105,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","8 SEPTEMBER, 2022",3:00 PM BST
106,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","6 SEPTEMBER, 2022",3:00 PM BST
107,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","4 SEPTEMBER, 2022",3:00 PM BST
108,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","31 AUGUST, 2022",3:00 PM BST
109,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","28 AUGUST, 2022",3:00 PM BST

#### 3. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details: 

A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [50]:
driver = webdriver.Chrome()

In [51]:
driver.get('http://statisticstimes.com/')

In [52]:
select = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
select.click()

In [53]:
slct = driver.find_element(By.XPATH,'//div[@class="dropdown-content"]/a[3]')
slct.click()

In [54]:
slct1 = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
slct1.click()

In [62]:
Rank = [] 
State = []  
GSDP18_19 = [] 
GSDP19_20 = []  
Share = []  
GDP = []

In [63]:
try:
    rank_tag = driver.find_elements(By.XPATH,'//td[@class="data1"]')
    for i in rank_tag:
        rank = i.text
        Rank.append(rank)
except NoSuchElementException:
    Rank.append('--')
    
try:
    state_tag = driver.find_elements(By.XPATH,'//td[@class="name"]')
    for i in state_tag:
        state = i.text
        State.append(state)
except NoSuchElementException:
    State.append('--')
    
try:
    gsd1819_tag = driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
    for i in gsd1819_tag:
        gsd1819 = i.text
        GSDP18_19.append(gsd1819)
except NoSuchElementException:
    GSDP18_19.append('--')

try:
    gsd1920_tag = driver.find_elements(By.XPATH,'//td[@class="data"][1]')
    for i in gsd1920_tag:
        gsd1920 = i.text
        GSDP19_20.append(gsd1920)
except NoSuchElementException:
    GSDP19_20.append('--')
    
try:
    share_tag = driver.find_elements(By.XPATH,'//td[@class="data"][2]')
    for i in share_tag:
        share = i.text
        Share.append(share)
except NoSuchElementException:
    Share.append('--')
    
try:
    gdp_tag = driver.find_elements(By.XPATH,'//td[@class="data"][3]')
    for i in gdp_tag:
        gdp = i.text
        GDP.append(gdp)
except NoSuchElementException:
    GDP.append('--')

In [64]:
print(len(Rank),len(State),len(GSDP19_20),len(GSDP18_19),len(Share),len(GDP))

68 68 68 66 68 68

In [68]:
import pandas as pd
df = pd.DataFrame({'Rank':Rank[:66],'State':State[:66],'GSDP19_20-at current prices':GSDP19_20[:66],'GSDP18_19-at current prices':GSDP18_19[:66],'Share(18-19)':Share[:66],'GDP($ billion)':GDP[:66]})
df

,Rank,State,GSDP19_20-at current prices,GSDP18_19-at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,28,Manipur,"29,148","25,141",0.15%,"18,549"
62,29,Sikkim,"28,391","24,534",0.15%,"17,060"
63,30,Nagaland,-,"22,488",0.15%,-
64,31,Arunachal Pradesh,-,"20,947",0.13%,-
65,32,Mizoram,"24,424",-,0.13%,"17,797"

#### 4. Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [69]:
driver = webdriver.Chrome()

In [70]:
driver.get('https://github.com/')

In [72]:
select = driver.find_element(By.XPATH,'//div[@class="flex-1 flex-order-2 text-right"]/button/span/span')
select.click()

In [75]:
select = driver.find_element(By.XPATH,'//div[@class="HeaderMenu--logged-out p-responsive height-fit position-lg-relative d-lg-flex flex-column flex-auto pt-7 pb-4 top-0"]/div/nav/ul/li[3]')
select.click()

In [76]:
select = driver.find_element(By.XPATH,'//div[@class="HeaderMenu--logged-out p-responsive height-fit position-lg-relative d-lg-flex flex-column flex-auto pt-7 pb-4 top-0"]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
select.click()

In [77]:
Title = [] 
Desc = [] 
Count = [] 
Language = []

In [80]:
#for url in URL:
    #driver.get(url)
    #time.sleep(2)
    
try:
    title_tags= driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
    for i in title_tags:
        title = i.text
        Title.append(title)
except NoSuchElementException:
    Title.append('--')
    
try:
    desc_tags= driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in desc_tags:
        desc = i.text
        Desc.append(desc)
except NoSuchElementException:
    Desc.append('--')
    
try:
    count_tags = driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"][2]')
    for i in count_tags:
        count = i.text
        Count.append(count)
except NoSuchElementException:
    Count.append('--')
try:
    language_tags = driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
    for i in language_tags:    
        language = i.text
        Language.append(language)
except NoSuchElementException:
    Language.append('--')

In [81]:
print(len(Title),len(Desc),len(Count),len(Language))

25 23 25 20

In [82]:
import pandas as pd
df = pd.DataFrame({'Repository Title':Title[:20],'Repository Description':Desc[:20],'Contributor Count':Count[:20],'Language used':Language[:20]})
df

,Repository Title,Repository Description,Contributor Count,Language used
0,NVIDIA / TensorRT-LLM,TensorRT-LLM provides users with an easy-to-us...,75,C++
1,localsend / localsend,An open source cross-platform alternative to A...,893,Dart
2,OpenBMB / XAgent,An Autonomous LLM Agent for Complex Task Solving,179,TypeScript
3,WisdomShell / codeshell,A series of code large language models develop...,42,Python
4,WisdomShell / codeshell-vscode,An intelligent coding assistant plugin for Vis...,24,TypeScript
5,neuralmagic / deepsparse,Sparsity-aware deep learning inference runtime...,113,Python
6,Planetary-Computers / autotab-starter,Build browser agents for real world tasks,20,Python
7,ByteByteGoHq / system-design-101,Explain complex systems using visuals and simp...,"1,716",Python
8,cloudcommunity / Free-Certifications,A curated list of free courses & certifications.,887,Go
9,danieldonda / Cybersecurity101,Um guia abrangente para iniciantes na área de ...,11,TypeScript
10,imartinez / privateGPT,Interact with your documents using the power o...,"5,137",TypeScript
11,radius-project / radius,"Radius is a cloud-native, portable application...",19,Python
12,ionic-team / ionic-framework,A powerful cross-platform UI toolkit for build...,"13,693",Python
13,slowmist / SlowMist-Learning-Roadmap-for-Becom...,Smart contract audit skills roadmap for beginn...,28,JavaScript
14,e2b-dev / awesome-ai-agents,A list of AI autonomous agents,157,JavaScript
15,felipemotarocha / fullstackweek-store,"Specify what you want it to build, the AI asks...",30,Shell
16,AntonOsika / gpt-engineer,openpilot is an open source driver assistance ...,"7,363",Python
17,commaai / openpilot,📊 Interactive JavaScript Charts built on SVG,"7,782",Python
18,apexcharts / apexcharts.js,"Removes The ""Ad blocker are not allowed on You...","1,206",TypeScript
19,TheRealJoelmatic / RemoveAdblockThing,A Library for Advanced Deep Time Series Models.,69,Go

#### 5. Scrape the details of top 100 songs on billiboard.com.

Url = https:/www.billboard.com/ You have to find the following details:

A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [83]:
driver = webdriver.Chrome()

In [84]:
driver.get('http://www.billboard.com/')

In [86]:
select = driver.find_element(By.XPATH,'//div[@class="main-sub-menu-container-esp js-hide-when-sticky lrv-u-flex lrv-u-background-color-white u-height-45"]/div/nav/ul/li[4]/a')
select.click()

In [87]:
Song = []
Artist =[]
lw_rank = []
p_rank = []
Onboard = []

In [91]:
try:
    song1_tags= driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]')
    for i in song1_tags:    
        song1 = i.text
        Song.append(song1)
except NoSuchElementException:
    Song.append('--')
    
try:
    artist1_tags= driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
    for i in artist1_tags:
        artist1= i.text
        Artist.append(artist1)
except NoSuchElementException:
    Artist.append('--')

In [92]:
try:
    song_tags= driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
    for i in song_tags:
        song = i.text
        Song.append(song)
except NoSuchElementException:
    Song.append('--')
    
try:
    artist_tags= driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
    for i in artist_tags:
        artist= i.text
        Artist.append(artist)
except NoSuchElementException:
    Artist.append('--')
    
try:
    rank1_tags = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]')
    for i in rank1_tags:
        rank1= i.text
        lw_rank.append(rank1)
except NoSuchElementException:
    lw_rank.append('--')
    
try:
    rank2_tags = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]')
    for i in rank2_tags:
        rank2 = i.text
        p_rank.append(rank2)
except NoSuchElementException:
    p_rank.append('--')
    
try:
    onboard_tags= driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[6]')
    for i in onboard_tags:
        onboard = i.text
        Onboard.append(onboard)
except NoSuchElementException:
    Onboard.append('--')

In [93]:
print(len(Song),len(Artist),len(lw_rank),len(p_rank),len(Onboard))

100 100 100 100 100

In [94]:
import pandas as pd
df = pd.DataFrame({'Song Name':Song,'Artist Name':Artist,'Last week rank':lw_rank,'Peak Rank':p_rank,'Weeks on board':Onboard})
df

,Song Name,Artist Name,Last week rank,Peak Rank,Weeks on board
0,First Person Shooter,Drake Featuring J. Cole,-,1,1
1,IDGAF,Drake Featuring Yeat,-,2,1
2,Virginia Beach,Drake,-,3,1
3,Paint The Town Red,Doja Cat,1,1,10
4,Calling For You,Drake Featuring 21 Savage,-,5,1
...,...,...,...,...,...
95,God Gave Me A Girl,Russell Dickerson,90,90,2
96,Y Lloro,Junior H,-,97,1
97,Telekinesis,Travis Scott Featuring SZA & Future,72,26,11
98,Seven,Jung Kook Featuring Latto,57,1,13
99,Stars Like Confetti,Dustin Lynch,89,89,2

#### 6. Scrape the details of Highest selling novels.

A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [95]:
driver = webdriver.Chrome()

In [96]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [101]:
Name = []
Author = []
Sold = []
Publisher =[] 
Genre = []

In [102]:
try:
    name_tags= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in name_tags:
        name = i.text
        Name.append(name)
except NoSuchElementException:
    Name.append('--')
    
try:
    author_tags= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author_tags:
        author= i.text
        Author.append(author)
except NoSuchElementException:
    Author.append('--')
    
try:
    sold_tags = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in sold_tags:
        sold= i.text
        Sold.append(sold)
except NoSuchElementException:
    Sold.append('--')
    
try:
    publisher_tags = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher_tags:
        publisher = i.text
        Publisher.append(publisher)
except NoSuchElementException:
    Publisher.append('--')
    
try:
    genre_tags= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre_tags:
        genre = i.text
        Genre.append(genre)
except NoSuchElementException:
    Genre.append('--')

In [103]:
print(len(Name),len(Author),len(Sold),len(Publisher),len(Genre))

100 100 100 100 100

In [104]:
import pandas as pd
df = pd.DataFrame({'Book Name':Name,'Author Name':Author,'Volumes sold':Sold,'Publisher':Publisher,'Genre':Genre})
df

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

#### 7. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:

A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [105]:
driver = webdriver.Chrome()

In [106]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [107]:
Name = []
Year = []
Genre = []
Run_time =[]
Rating = []
Vote = []

In [108]:
try:
    name_tags= driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    for i in name_tags:
        name = i.text
        Name.append(name)
except NoSuchElementException:
    Name.append('--')
    
try:
    year_tags= driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
    for i in year_tags:
        year = i.text
        Year.append(year)
except NoSuchElementException:
    Year.append('--')
    
try:
    run_tags= driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for i in run_tags:
        run = i.text
        Run_time.append(run)
except NoSuchElementException:
    Run_time.append('--')
    
try:
    genre_tags= driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in genre_tags:
        genre = i.text
        Genre.append(genre)
except NoSuchElementException:
    Genre.append('--')
    
try:
    rating_tags= driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
    for i in rating_tags:
        rating = i.text
        Rating.append(rating)
except NoSuchElementException:
    Rating.append('--')
    
try:
    vote_tags= driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
    for i in vote_tags:
        vote = i.text
        Vote.append(vote)
except NoSuchElementException:
    Vote.append('--')

In [109]:
print(len(Name),len(Year),len(Genre),len(Run_time),len(Rating),len(Vote))

100 100 100 100 100 100

In [110]:
import pandas as pd
df = pd.DataFrame({'Name of Series':Name,'Year Span':Year,'Genre':Genre,'Run Time':Run_time,'Ratings':Rating,'Votes':Vote})
df

,Name of Series,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,214,030"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,283,683"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,050,668"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"308,684"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"267,627"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,970"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,035"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,971"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,122"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"270,551"

#### 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:
    
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year

In [111]:
driver = webdriver.Chrome()

In [112]:
driver.get('https://archive.ics.uci.edu/')

In [113]:
select = driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
select.click()

In [114]:
Dataset = []
Type = []
Task = []
Attribute = []
Instances = []
No_Attribute = []
Year = []

In [118]:
db_url = []
start = 0
end = 6
for page in range(start,end): 
    url=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in url:    
        db_url.append(i.get_attribute("href"))
    nxt_button=driver.find_element(By.XPATH,'//div[@class="btn-group"]/button[2]')
    nxt_button.click()

In [119]:
len(db_url)

60

In [120]:
db_details=driver.find_element(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]')
db_details.click()

In [122]:
for url in db_url:
    driver.get(url)
    
    try:
        ds = driver.find_elements(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]')
        for i in ds:
            dataset = i.text
            Dataset.append(dataset)
    except NoSuchElementException:
        Dataset.append('-')
    
    try:
        tpe = driver.find_elements(By.XPATH,'//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[1]/p')
        for i in tpe:
            dstype = i.text
            Type.append(dstype)
    except NoSuchElementException:
        Type.append('-')
    
    try:
        tsk = driver.find_elements(By.XPATH,'//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[3]/p')
        for i in tsk:
            task = i.text
            Task.append(task)
    except NoSuchElementException:
        Task.append('-')
    try:
        att = driver.find_elements(By.XPATH,'//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[4]/p')
        for i in att:
            attribute = i.text
            Attribute.append(attribute)
    except NoSuchElementException:
        Attribute.append('-')
        
    try:
        inst = driver.find_elements(By.XPATH,'//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[5]/p')
        for i in inst:
            instance = i.text
            Instances.append(instance)
    except NoSuchElementException:
        Instances.append('-')
        
    try:
        noat = driver.find_elements(By.XPATH,'//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[6]/p')
        for i in noat:
            no_att = i.text
            No_Attribute.append(no_att)
    except NoSuchElementException:
        No_Attribute.append('-')
    
    try:
        yr = driver.find_elements(By.XPATH,'//h2[@class="text-sm text-primary-content"]')
        for i in yr:
            year = i.text
            Year.append(year)
    except NoSuchElementException:
        Year.append('-')

In [123]:
print(len(Dataset),len(Type),len(Task),len(Attribute),len(Instances),len(No_Attribute),len(Year))

60 60 60 60 60 60 60

In [124]:
import pandas as pd
df = pd.DataFrame({'Dataset name':Dataset,'Data type':Type,'Task':Task,'Attribute type':Attribute,'No of instances':Instances,'No of attributes':No_Attribute,'Year':Year})
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attributes,Year
0,Mushroom,Multivariate,Classification,Categorical,8124,22,Donated on 4/26/1987
1,Abalone,Tabular,"Classification, Regression","Categorical, Integer, Real",4177,8,Donated on 11/30/1995
2,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45211,16,Donated on 2/13/2012
3,Breast Cancer,Multivariate,Classification,Categorical,286,9,Donated on 7/10/1988
4,Statlog (German Credit Data),Multivariate,Classification,"Categorical, Integer",1000,20,Donated on 11/16/1994
5,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,25,Donated on 5/18/1987
6,Census Income,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
7,Auto MPG,Multivariate,Regression,"Real, Categorical, Integer",398,7,Donated on 7/6/1993
8,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,9,Donated on 7/14/1992
9,Glass Identification,Multivariate,Classification,Real,214,9,Donated on 8/31/1987
10,Mushroom,Multivariate,Classification,Categorical,8124,22,Donated on 4/26/1987
11,Abalone,Tabular,"Classification, Regression","Categorical, Integer, Real",4177,8,Donated on 11/30/1995
12,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45211,16,Donated on 2/13/2012
13,Breast Cancer,Multivariate,Classification,Categorical,286,9,Donated on 7/10/1988
14,Statlog (German Credit Data),Multivariate,Classification,"Categorical, Integer",1000,20,Donated on 11/16/1994
15,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,25,Donated on 5/18/1987
16,Census Income,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
17,Auto MPG,Multivariate,Regression,"Real, Categorical, Integer",398,7,Donated on 7/6/1993
18,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,9,Donated on 7/14/1992
19,Glass Identification,Multivariate,Classification,Real,214,9,Donated on 8/31/1987
20,Mushroom,Multivariate,Classification,Categorical,8124,22,Donated on 4/26/1987
21,Abalone,Tabular,"Classification, Regression","Categorical, Integer, Real",4177,8,Donated on 11/30/1995
22,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45211,16,Donated on 2/13/2012
23,Breast Cancer,Multivariate,Classification,Categorical,286,9,Donated on 7/10/1988
24,Statlog (German Credit Data),Multivariate,Classification,"Categorical, Integer",1000,20,Donated on 11/16/1994
25,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,25,Donated on 5/18/1987
26,Census Income,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
27,Auto MPG,Multivariate,Regression,"Real, Categorical, Integer",398,7,Donated on 7/6/1993
28,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,9,Donated on 7/14/1992
29,Glass Identification,Multivariate,Classification,Real,214,9,Donated on 8/31/1987
30,Mushroom,Multivariate,Classification,Categorical,8124,22,Donated on 4/26/1987
31,Abalone,Tabular,"Classification, Regression","Categorical, Integer, Real",4177,8,Donated on 11/30/1995
32,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45211,16,Donated on 2/13/2012
33,Breast Cancer,Multivariate,Classification,Categorical,286,9,Donated on 7/10/1988
34,Statlog (German Credit Data),Multivariate,Classification,"Categorical, Integer",1000,20,Donated on 11/16/1994
35,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,25,Donated on 5/18/1987
36,Census Income,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
37,Auto MPG,Multivariate,Regression,"Real, Categorical, Integer",398,7,Donated on 7/6/1993
38,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,9,Donated on 7/14/1992
39,Glass Identification,Multivariate,Classification,Real,214,9,Donated on 8/31/1987
40,Mushroom,Multivariate,Classification,Categorical,8124,22,Donated on 4/26/1987
41,Abalone,Tabular,"Classification, Regression","Categorical, Integer, Real",4177,8,Donated on 11/30/1995
42,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45211,16,Donated on 2/13/2012
43,Breast Cancer,Multivariate,Classification,Categorical,286,9,Donated on 7/10/1988
44,Statlog (German Credit Data),Multivariate,Classification,"Categorical, Integer",1000,20,Donated on 11/16/1994
45,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,25,Donated on 5/18/1987
46,Census Income,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
47,Auto MPG,Multivariate,Regression,"Real, Categorical, Integer",398,7,Donated on 7/6/1993
48,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,9,Donated on 7/14/1992
49,Glass Identification,Multivariate,Classification,Real,214,9,Donated on 8/31/1987
50,Mushroom,Multivariate,Classification,Categorical,8124,22,Donated on 4/26/1987
51,Abalone,Tabular,"Classification, Regression","Categorical, Integer, Real",4177,8,Donated on 11/30/1995
52,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45211,16,Donated on 2/13/2012
53,Breast Cancer,Multivariate,Classification,Categorical,286,9,Donated on 7/10/1988
54,Statlog (German Credit Data),Multivariate,Classification,"Categorical, Integer",1000,20,Donated on 11/16/1994
55,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,25,Donated on 5/18/1987
56,Census Income,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
57,Auto MPG,Multivariate,Regression,"Real, Categorical, Integer",398,7,Donated on 7/6/1993
58,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,9,Donated on 7/14/1992
59,Glass Identification,Multivariate,Classification,Real,214,9,Donated on 8/31/1987