In [94]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\rathods\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\rathods\anaconda3\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\rathods\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.4)
Requirement already satisfied: requests in c:\users\rathods\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rathods\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rathods\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rathods\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rathods\anaconda3\lib\site-packages (from requests) (2023.7.22)

In [96]:
#importing required libraries
from bs4 import BeautifulSoup
import requests

#### 1) Write a python program to display all the header tags from wikipedia.org and make data frame.

In [97]:
page = requests.get('https://www.wikipedia.org/')
page

In [98]:
soup = BeautifulSoup(page.content,"html.parser")

In [99]:
header = []

for i in soup.find_all(['h1','h2','h3','h4','h5','h6']):
    header.append(i.text)

header

['\n\nWikipedia\n\nThe Free Encyclopedia\n',
 '\n\n\n\n1\xa0000\xa0000+\n\n\narticles\n\n\n\n',
 '\n\n\n\n100\xa0000+\n\n\narticles\n\n\n\n',
 '\n\n\n\n10\xa0000+\n\n\narticles\n\n\n\n',
 '\n\n\n\n1\xa0000+\n\n\narticles\n\n\n\n',
 '\n\n\n\n100+\n\n\narticles\n\n\n\n']

In [100]:
import pandas as pd

df = pd.DataFrame({'Headers': header})

print(df)

                                    Headers
0  \n\nWikipedia\n\nThe Free Encyclopedia\n
1  \n\n\n\n1 000 000+\n\n\narticles\n\n\n\n
2    \n\n\n\n100 000+\n\n\narticles\n\n\n\n
3     \n\n\n\n10 000+\n\n\narticles\n\n\n\n
4      \n\n\n\n1 000+\n\n\narticles\n\n\n\n
5        \n\n\n\n100+\n\n\narticles\n\n\n\n

#### 2) Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://currentaffairs.adda247.com/list-of-presidents-of-india/ and make data frame.

In [101]:
page = requests.get('https://currentaffairs.adda247.com/list-of-presidents-of-india/')
page

In [ ]:
soup = BeautifulSoup(page.content)
soup

In [103]:
Names = []
for i in soup.find_all('td',width="220"):
    Names.append(i.text)
    
Names

['\nName\n',
 'Dr. Rajendra Prasad',
 'Dr. Sarvepalli Radhakrishnan',
 'Dr. Zakir Hussain',
 'Varahagiri Venkata Giri',
 'Varahagiri Venkata Giri',
 'Fakhruddin Ali Ahmed',
 'Neelam Sanjiva Reddy',
 'Giani Zali Singh',
 'Ramaswamy Venkataraman',
 'Shankar Dayal Sharma',
 'Kocheril Raman Narayanan',
 'Dr. A.P.J. Abdul Kalam',
 'Pratibha Patil',
 'Pranab Mukherjee',
 'Shri Ram Nath Kovind',
 'Draupadi Murmu']

In [104]:
Start_Date = []
for v in soup.find_all('td',width="180"):
    Start_Date.append(v.text)
    
Start_Date

['\nStart Date\n',
 '26 January 1950',
 '13 May 1962',
 '13 May 1967',
 '3 May 1969',
 '24 August 1969',
 '24 August 1974',
 '25 July 1977',
 '25 July 1982',
 '25 July 1987',
 '25 July 1992',
 '25 July 1997',
 '25 July 2002',
 '25 July 2007',
 '25 July 2012',
 '25 July 2017',
 '21 July 2022']

In [105]:
End_Date = []
for v in soup.find_all('td',width="201"):
    End_Date.append(v.text)
    
End_Date

['Closing date',
 '13 May 1962',
 '13 May 1967',
 '3 May 1969',
 '20 July 1969',
 '24 August 1974',
 '11 February 1977',
 '25 July 1982',
 '25 July 1987',
 '25 July 1992',
 '25 July 1997',
 '25 July 2002',
 '25 July 2007',
 '25 July 2012',
 '25 July 2017',
 '21 July 2022',
 'Working']

In [106]:
import pandas as pd
df = pd.DataFrame({'President Names':Names,'Term Start date':Start_Date,'Term End Date':End_Date})
df

                 President Names  Term Start date     Term End Date
0                       \nName\n   \nStart Date\n      Closing date
1            Dr. Rajendra Prasad  26 January 1950       13 May 1962
2   Dr. Sarvepalli Radhakrishnan      13 May 1962       13 May 1967
3              Dr. Zakir Hussain      13 May 1967        3 May 1969
4        Varahagiri Venkata Giri       3 May 1969      20 July 1969
5        Varahagiri Venkata Giri   24 August 1969    24 August 1974
6           Fakhruddin Ali Ahmed   24 August 1974  11 February 1977
7           Neelam Sanjiva Reddy     25 July 1977      25 July 1982
8               Giani Zali Singh     25 July 1982      25 July 1987
9         Ramaswamy Venkataraman     25 July 1987      25 July 1992
10          Shankar Dayal Sharma     25 July 1992      25 July 1997
11      Kocheril Raman Narayanan     25 July 1997      25 July 2002
12        Dr. A.P.J. Abdul Kalam     25 July 2002      25 July 2007
13                Pratibha Patil     25 July 2007      25 July 2012
14              Pranab Mukherjee     25 July 2012      25 July 2017
15          Shri Ram Nath Kovind     25 July 2017      21 July 2022
16                Draupadi Murmu     21 July 2022           Working

#### 3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

##### a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [110]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [ ]:
soup = BeautifulSoup(page.content)
soup

In [113]:
ODI_teams = []

for i in soup.select('td',class_="u-hide-phablet"):
    ODI_teams.append(i.text)
    
ODI_teams

['1',
 '\n\nAustralia\nAUS\n',
 '27',
 '3,112',
 '\n                            115\n                            \n\n',
 '2',
 '\n\nPakistan\nPAK\n',
 '27',
 '3,102',
 '115',
 '3',
 '\n\nIndia\nIND\n',
 '40',
 '4,558',
 '114',
 '4',
 '\n\nEngland\nENG\n',
 '28',
 '2,942',
 '105',
 '5',
 '\n\nSouth Africa\nSA\n',
 '23',
 '2,386',
 '104',
 '6',
 '\n\nNew Zealand\nNZ\n',
 '31',
 '3,110',
 '100',
 '7',
 '\n\nBangladesh\nBAN\n',
 '33',
 '3,107',
 '94',
 '8',
 '\n\nSri Lanka\nSL\n',
 '37',
 '3,448',
 '93',
 '9',
 '\n\nAfghanistan\nAFG\n',
 '21',
 '1,687',
 '80',
 '10',
 '\n\nWest Indies\nWI\n',
 '38',
 '2,582',
 '68',
 '11',
 '\n\nZimbabwe\nZIM\n',
 '30',
 '1,641',
 '55',
 '12',
 '\n\nScotland\nSCO\n',
 '33',
 '1,662',
 '50',
 '13',
 '\n\nIreland\nIRE\n',
 '24',
 '1,052',
 '44',
 '14',
 '\n\nNetherlands\nNED\n',
 '28',
 '1,044',
 '37',
 '15',
 '\n\nNepal\nNEP\n',
 '42',
 '1,446',
 '34',
 '16',
 '\n\nNamibia\nNAM\n',
 '28',
 '813',
 '29',
 '17',
 '\n\nUnited States\nUSA\n',
 '31',
 '808',
 '26',
 '18',
 '\n\nOman\nOMA\n',
 '24',
 '525',
 '22',
 '19',
 '\n\nUAE\nUAE\n',
 '41',
 '617',
 '15']

In [114]:
import pandas as pd
df= pd.DataFrame({"Country":ODI_teams[1:47:5],'Points':ODI_teams[3:49:5],'Rating':ODI_teams[4:50:5]})

In [115]:
df

,Country,Points,Rating
0,\n\nAustralia\nAUS\n,"3,112",\n 115\n ...
1,\n\nPakistan\nPAK\n,"3,102",115
2,\n\nIndia\nIND\n,"4,558",114
3,\n\nEngland\nENG\n,"2,942",105
4,\n\nSouth Africa\nSA\n,"2,386",104
5,\n\nNew Zealand\nNZ\n,"3,110",100
6,\n\nBangladesh\nBAN\n,"3,107",94
7,\n\nSri Lanka\nSL\n,"3,448",93
8,\n\nAfghanistan\nAFG\n,"1,687",80
9,\n\nWest Indies\nWI\n,"2,582",68

##### b) Top 10 ODI Batsmen along with the records of their team andrating.

In [116]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
page

In [ ]:
soup = BeautifulSoup(page.content)
soup

In [118]:
first_name = []

for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
    first_name.append(i.text)
    
first_name

['Babar Azam']

In [119]:
first_team = []
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    first_team.append(i.text)
    
first_team

['\n\nPAK\n                    ']

In [120]:
first_rating = []

for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    first_rating.append(i.text)
    
first_rating

['863']

In [121]:
Name = []

for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    Name.append(i.text)
    
Name[:9]

['\nShubman Gill\n',
 '\nRassie van der Dussen\n',
 '\nDavid Warner\n',
 '\nImam-ul-Haq\n',
 '\nHarry Tector\n',
 '\nQuinton de Kock\n',
 '\nVirat Kohli\n',
 '\nRohit Sharma\n',
 '\nFakhar Zaman\n']

In [122]:
team = []

for i in soup.find_all('td',class_="table-body__cell nationality-logo rankings-table__team"):
    team.append(i.text)
    
team[:9]

['\n\nIND\n',
 '\n\nSA\n',
 '\n\nAUS\n',
 '\n\nPAK\n',
 '\n\nIRE\n',
 '\n\nSA\n',
 '\n\nIND\n',
 '\n\nIND\n',
 '\n\nPAK\n']

In [123]:
rating = [] 

for i in soup.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)
    
rating[:9]

['759', '745', '739', '735', '726', '721', '715', '707', '705']

In [124]:
name = first_name + Name[:9]

name

['Babar Azam',
 '\nShubman Gill\n',
 '\nRassie van der Dussen\n',
 '\nDavid Warner\n',
 '\nImam-ul-Haq\n',
 '\nHarry Tector\n',
 '\nQuinton de Kock\n',
 '\nVirat Kohli\n',
 '\nRohit Sharma\n',
 '\nFakhar Zaman\n']

In [125]:
team= first_team + team[:9]
team

['\n\nPAK\n                    ',
 '\n\nIND\n',
 '\n\nSA\n',
 '\n\nAUS\n',
 '\n\nPAK\n',
 '\n\nIRE\n',
 '\n\nSA\n',
 '\n\nIND\n',
 '\n\nIND\n',
 '\n\nPAK\n']

In [126]:
Rating = first_rating + rating[:9]
Rating

['863', '759', '745', '739', '735', '726', '721', '715', '707', '705']

In [127]:
import pandas as pd
df = pd.DataFrame({"Name":name,"Team":team,"Rating":Rating})
df

                        Name                           Team Rating
0                 Babar Azam  \n\nPAK\n                        863
1           \nShubman Gill\n                      \n\nIND\n    759
2  \nRassie van der Dussen\n                       \n\nSA\n    745
3           \nDavid Warner\n                      \n\nAUS\n    739
4            \nImam-ul-Haq\n                      \n\nPAK\n    735
5           \nHarry Tector\n                      \n\nIRE\n    726
6        \nQuinton de Kock\n                       \n\nSA\n    721
7            \nVirat Kohli\n                      \n\nIND\n    715
8           \nRohit Sharma\n                      \n\nIND\n    707
9           \nFakhar Zaman\n                      \n\nPAK\n    705

##### c) Top 10 ODI bowlers along with the records of their team andrating.

In [128]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page

In [ ]:
soup = BeautifulSoup(page.content)
soup

In [130]:
first_name = []

for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
    first_name.append(i.text)
    
first_name

['Josh Hazlewood']

In [131]:
first_team = []
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    first_team.append(i.text)
    
first_team

['\n\nAUS\n                    ']

In [132]:
first_rating = []

for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    first_rating.append(i.text)
    
first_rating

['692']

In [133]:
Name = []

for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    Name.append(i.text)
    
Name[:9]

['\nMitchell Starc\n',
 '\nTrent Boult\n',
 '\nAdam Zampa\n',
 '\nMatt Henry\n',
 '\nMujeeb Ur Rahman\n',
 '\nKuldeep Yadav\n',
 '\nRashid Khan\n',
 '\nMohammed Siraj\n',
 '\nShaheen Afridi\n']

In [134]:
team = []

for i in soup.find_all('td',class_="table-body__cell nationality-logo rankings-table__team"):
    team.append(i.text)
    
team[:9]

['\n\nAUS\n',
 '\n\nNZ\n',
 '\n\nAUS\n',
 '\n\nNZ\n',
 '\n\nAFG\n',
 '\n\nIND\n',
 '\n\nAFG\n',
 '\n\nIND\n',
 '\n\nPAK\n']

In [135]:
rating = [] 

for i in soup.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)
    
rating[:9]

['666', '666', '663', '658', '657', '656', '655', '643', '635']

In [136]:
name = first_name + Name[:9]

name

['Josh Hazlewood',
 '\nMitchell Starc\n',
 '\nTrent Boult\n',
 '\nAdam Zampa\n',
 '\nMatt Henry\n',
 '\nMujeeb Ur Rahman\n',
 '\nKuldeep Yadav\n',
 '\nRashid Khan\n',
 '\nMohammed Siraj\n',
 '\nShaheen Afridi\n']

In [137]:
team= first_team + team[:9]
team

['\n\nAUS\n                    ',
 '\n\nAUS\n',
 '\n\nNZ\n',
 '\n\nAUS\n',
 '\n\nNZ\n',
 '\n\nAFG\n',
 '\n\nIND\n',
 '\n\nAFG\n',
 '\n\nIND\n',
 '\n\nPAK\n']

In [138]:
Rating = first_rating + rating[:9]

In [139]:
import pandas as pd
df= pd.DataFrame({"Name":name,"Team":team,"Rating":Rating})
df

                   Name                           Team Rating
0        Josh Hazlewood  \n\nAUS\n                        692
1    \nMitchell Starc\n                      \n\nAUS\n    666
2       \nTrent Boult\n                       \n\nNZ\n    666
3        \nAdam Zampa\n                      \n\nAUS\n    663
4        \nMatt Henry\n                       \n\nNZ\n    658
5  \nMujeeb Ur Rahman\n                      \n\nAFG\n    657
6     \nKuldeep Yadav\n                      \n\nIND\n    656
7       \nRashid Khan\n                      \n\nAFG\n    655
8    \nMohammed Siraj\n                      \n\nIND\n    643
9    \nShaheen Afridi\n                      \n\nPAK\n    635

#### 4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

##### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [140]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page

In [ ]:
soup = BeautifulSoup(page.content)
soup

In [142]:
ODI_Womens = []

for i in soup.find_all('span',class_="u-hide-phablet"):
    ODI_Womens.append(i.text)
    
ODI_Womens

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Sri Lanka',
 'Thailand',
 'Pakistan',
 'Ireland',
 'Netherlands',
 'Zimbabwe']

In [143]:
Points = []

for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    Points.append(i.text)
    
Points

['31',
 '3,875',
 '26',
 '3,098',
 '30',
 '3,039',
 '28',
 '2,688',
 '29',
 '2,743',
 '17',
 '1,284',
 '12',
 '820',
 '13',
 '883',
 '27',
 '1,678',
 '18',
 '660',
 '11',
 '89',
 '11',
 '0']

In [144]:
Rating= []
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    Rating.append(i.text)
    
Rating

['125', '119', '101', '96', '95', '76', '68', '68', '62', '37', '8', '0']

In [145]:
import pandas as pd
df = pd.DataFrame({"Matches":ODI_Womens[:10],"Points":Points[1:21:2],"Rating":Rating[:10]})

In [146]:
df

        Matches Points Rating
0     Australia  3,875    125
1       England  3,098    119
2  South Africa  3,039    101
3         India  2,688     96
4   New Zealand  2,743     95
5   West Indies  1,284     76
6    Bangladesh    820     68
7     Sri Lanka    883     68
8      Thailand  1,678     62
9      Pakistan    660     37

##### b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [147]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
page

In [ ]:
soup = BeautifulSoup(page.content)
soup

In [149]:
first_name = []

for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
    first_name.append(i.text)
    
first_name

['Natalie Sciver-Brunt']

In [150]:
first_team = []
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    first_team.append(i.text)
    
first_team

['\n\nENG\n                    ']

In [151]:
first_rating = []

for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    first_rating.append(i.text)
    
first_rating

['801']

In [155]:
Name = []

for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    Name.append(i.text)
    
Name[:9]

['\nBeth Mooney\n',
 '\nChamari Athapaththu\n',
 '\nLaura Wolvaardt\n',
 '\nSmriti Mandhana\n',
 '\nAlyssa Healy\n',
 '\nHarmanpreet Kaur\n',
 '\nEllyse Perry\n',
 '\nMeg Lanning\n',
 '\nStafanie Taylor\n']

In [156]:
team = []

for i in soup.find_all('td',class_="table-body__cell nationality-logo rankings-table__team"):
    team.append(i.text)
    
team[:9]

['\n\nAUS\n',
 '\n\nSL\n',
 '\n\nSA\n',
 '\n\nIND\n',
 '\n\nAUS\n',
 '\n\nIND\n',
 '\n\nAUS\n',
 '\n\nAUS\n',
 '\n\nWI\n']

In [157]:
rating = [] 

for i in soup.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)
    
rating[:9]

['751', '743', '708', '708', '702', '694', '686', '682', '618']

In [158]:
name = first_name + Name[:9]

In [159]:
team= first_team + team[:9]

In [160]:
Rating = first_rating + rating[:9]

In [161]:
import pandas as pd
df = pd.DataFrame({"Name":name,"Team":team,"Rating":Rating})
df

                      Name                           Team Rating
0     Natalie Sciver-Brunt  \n\nENG\n                        801
1          \nBeth Mooney\n                      \n\nAUS\n    751
2  \nChamari Athapaththu\n                       \n\nSL\n    743
3      \nLaura Wolvaardt\n                       \n\nSA\n    708
4      \nSmriti Mandhana\n                      \n\nIND\n    708
5         \nAlyssa Healy\n                      \n\nAUS\n    702
6     \nHarmanpreet Kaur\n                      \n\nIND\n    694
7         \nEllyse Perry\n                      \n\nAUS\n    686
8          \nMeg Lanning\n                      \n\nAUS\n    682
9      \nStafanie Taylor\n                       \n\nWI\n    618

##### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [162]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
page

In [ ]:
soup = BeautifulSoup(page.content)
soup

In [164]:
first_name = []

for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
    first_name.append(i.text)
    
first_name

['Natalie Sciver-Brunt']

In [165]:
first_team = []
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    first_team.append(i.text)
    
first_team

['\n\nENG\n                    ']

In [166]:
first_rating = []

for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    first_rating.append(i.text)
    
first_rating

['398']

In [167]:
Name = []

for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    Name.append(i.text)
    
Name[:9]

['\nAshleigh Gardner\n',
 '\nHayley Matthews\n',
 '\nMarizanne Kapp\n',
 '\nEllyse Perry\n',
 '\nAmelia Kerr\n',
 '\nDeepti Sharma\n',
 '\nJess Jonassen\n',
 '\nSophie Devine\n',
 '\nNida Dar\n']

In [168]:
team = []

for i in soup.find_all('td',class_="table-body__cell nationality-logo rankings-table__team"):
    team.append(i.text)
    
team[:9]

['\n\nAUS\n',
 '\n\nWI\n',
 '\n\nSA\n',
 '\n\nAUS\n',
 '\n\nNZ\n',
 '\n\nIND\n',
 '\n\nAUS\n',
 '\n\nNZ\n',
 '\n\nPAK\n']

In [169]:
rating = [] 

for i in soup.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)
    
rating[:9]

['389', '382', '362', '329', '328', '312', '241', '233', '217']

In [170]:
name = first_name + Name[:9]

name

['Natalie Sciver-Brunt',
 '\nAshleigh Gardner\n',
 '\nHayley Matthews\n',
 '\nMarizanne Kapp\n',
 '\nEllyse Perry\n',
 '\nAmelia Kerr\n',
 '\nDeepti Sharma\n',
 '\nJess Jonassen\n',
 '\nSophie Devine\n',
 '\nNida Dar\n']

In [171]:
team= first_team + team[:9]
team

['\n\nENG\n                    ',
 '\n\nAUS\n',
 '\n\nWI\n',
 '\n\nSA\n',
 '\n\nAUS\n',
 '\n\nNZ\n',
 '\n\nIND\n',
 '\n\nAUS\n',
 '\n\nNZ\n',
 '\n\nPAK\n']

In [172]:
Rating = first_rating + rating[:9]
Rating

['398', '389', '382', '362', '329', '328', '312', '241', '233', '217']

In [173]:
import pandas as pd
df = pd.DataFrame({"Name":name,"Team":team,"Rating":Rating})
df

                   Name                           Team Rating
0  Natalie Sciver-Brunt  \n\nENG\n                        398
1  \nAshleigh Gardner\n                      \n\nAUS\n    389
2   \nHayley Matthews\n                       \n\nWI\n    382
3    \nMarizanne Kapp\n                       \n\nSA\n    362
4      \nEllyse Perry\n                      \n\nAUS\n    329
5       \nAmelia Kerr\n                       \n\nNZ\n    328
6     \nDeepti Sharma\n                      \n\nIND\n    312
7     \nJess Jonassen\n                      \n\nAUS\n    241
8     \nSophie Devine\n                       \n\nNZ\n    233
9          \nNida Dar\n                      \n\nPAK\n    217

#### 5) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame
i) Headline ii) Time iii) News Link

In [174]:
page = requests.get('https://www.cnbc.com/world/?region=world')
page

In [ ]:
soup = BeautifulSoup(page.content)
soup

In [176]:
Headline = []

for i in soup.find_all('a',class_="LatestNews-headline"):
    Headline.append(i.text)
    
Headline

['These are the 11 sectors of the S&P 500 — and the stocks we own in each',
 'No. 1 tip for starting a side hustle, from 2 moms who make thousands',
 'These are the top 10 states for young workers, says new report',
 'Why health insurance is poised to make inflation jump',
 'Hollywood pays a steep price for never really figuring out the streaming model',
 "Disney asset sales won't break the bank, but they will move legacy media forward",
 'It’s been one year since the Ethereum merge. Here’s how the network is doing.',
 "Behind Warren Buffett's $100 billion-plus bet on Apple and the iPhone",
 'One individual investor favorite has endured even as other meme stocks waned ',
 'Stellantis offers raises, inflation protection to UAW as strikes continue',
 'Strong retail sales despite stubborn inflation bodes well for two consumer stocks',
 "4 things the world's longest-living people do to stay healthy, happy",
 "How Olipop's founders started a soda brand bringing in $20 million/month",
 "Here are three things we're watching in the markets in the week ahead",
 'U.S. states where property taxes are highest—New Jersey is No. 1',
 'The No. 1 thing successful parents who raise the strongest and most resilient kids do differently',
 "Mark Cuban: If someone says they can make you rich, 'they're lying'",
 'Top investor Jenny Harrington breaks down her best trade ever',
 '3 financial tips for couples moving in together for the first time',
 'Analysts said obesity drugs would be blockbusters — Now forecasts are rising',
 "Analysts see stocks like Microsoft offering 'double digit growth' thanks to AI",
 'Stocks churn with the S&P 500 sitting at the same level it was two years ago',
 'We gave the $2.1 million Rimac Nevera electric hypercar a spin. Check it out',
 "Trump lashes out at Jack Smith's bid for partial gag order in D.C. election case",
 "Cramer's Lightning Round: Sell Joby Aviation",
 "Cramer's week ahead: Pay attention to the Federal Reserve's meeting",
 "Okta CEO on MGM breach: Companies are under 'massive attack from cybercriminals'",
 'Jack Smith wants Trump barred from posting on witnesses or evidence in D.C. case',
 'Adobe falls after posting quarterly results. How to play the stock',
 'Bernie Sanders calls out automaker CEOs at UAW rally: ‘End your greed’']

In [177]:
Time = []

for i in soup.find_all('span',class_="LatestNews-wrapper"):
    Time.append(i.text)
    
Time

['35 Min Ago',
 '1 Hour Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '20 Hours Ago',
 '21 Hours Ago',
 '24 Hours Ago',
 'September 16, 2023',
 'September 16, 2023',
 'September 16, 2023',
 'September 16, 2023',
 'September 16, 2023',
 'September 16, 2023',
 'September 16, 2023',
 'September 16, 2023',
 'September 16, 2023',
 'September 16, 2023',
 'September 16, 2023',
 'September 15, 2023',
 'September 15, 2023',
 'September 15, 2023',
 'September 15, 2023',
 'September 15, 2023',
 'September 15, 2023',
 'September 15, 2023']

In [ ]:
New_link=[]

for i in soup.find_all('a'):
    New_link.append(i.text)
    
New_link

In [178]:
print(len(Headline),len(Time))

30 30

In [179]:
import pandas as pd
df= pd.DataFrame({'Headlines': Headline,'Time':Time})

In [180]:
df

                                            Headlines                Time
0   These are the 11 sectors of the S&P 500 — and ...          35 Min Ago
1   No. 1 tip for starting a side hustle, from 2 m...          1 Hour Ago
2   These are the top 10 states for young workers,...         2 Hours Ago
3   Why health insurance is poised to make inflati...         2 Hours Ago
4   Hollywood pays a steep price for never really ...         3 Hours Ago
5   Disney asset sales won't break the bank, but t...         3 Hours Ago
6   It’s been one year since the Ethereum merge. H...         3 Hours Ago
7   Behind Warren Buffett's $100 billion-plus bet ...         3 Hours Ago
8   One individual investor favorite has endured e...         3 Hours Ago
9   Stellantis offers raises, inflation protection...        20 Hours Ago
10  Strong retail sales despite stubborn inflation...        21 Hours Ago
11  4 things the world's longest-living people do ...        24 Hours Ago
12  How Olipop's founders started a soda brand bri...  September 16, 2023
13  Here are three things we're watching in the ma...  September 16, 2023
14  U.S. states where property taxes are highest—N...  September 16, 2023
15  The No. 1 thing successful parents who raise t...  September 16, 2023
16  Mark Cuban: If someone says they can make you ...  September 16, 2023
17  Top investor Jenny Harrington breaks down her ...  September 16, 2023
18  3 financial tips for couples moving in togethe...  September 16, 2023
19  Analysts said obesity drugs would be blockbust...  September 16, 2023
20  Analysts see stocks like Microsoft offering 'd...  September 16, 2023
21  Stocks churn with the S&P 500 sitting at the s...  September 16, 2023
22  We gave the $2.1 million Rimac Nevera electric...  September 16, 2023
23  Trump lashes out at Jack Smith's bid for parti...  September 15, 2023
24       Cramer's Lightning Round: Sell Joby Aviation  September 15, 2023
25  Cramer's week ahead: Pay attention to the Fede...  September 15, 2023
26  Okta CEO on MGM breach: Companies are under 'm...  September 15, 2023
27  Jack Smith wants Trump barred from posting on ...  September 15, 2023
28  Adobe falls after posting quarterly results. H...  September 15, 2023
29  Bernie Sanders calls out automaker CEOs at UAW...  September 15, 2023

#### 6) Write a python program to scrape the details of most downloaded articles from AI in last 90
days. https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare Scrape below mentioned details and make data frame

i) Paper Title ii) Authors iii) Published Date iv) Paper URL

In [181]:
page = requests.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
page

In [ ]:
soup = BeautifulSoup(page.content)
soup

In [183]:
title = []

for i in soup.find_all('td'):
    title.append(i.text)
    
title

['\n\n\nSOURCE: NIELSEN BOOK SCAN\n\n ',
 ' 1 ',
 ' Da Vinci Code,The ',
 ' Brown, Dan ',
 ' 5,094,805 ',
 ' Transworld ',
 ' Crime, Thriller & Adventure ',
 ' 2 ',
 ' Harry Potter and the Deathly Hallows ',
 ' Rowling, J.K. ',
 ' 4,475,152 ',
 ' Bloomsbury ',
 " Children's Fiction ",
 ' 3 ',
 " Harry Potter and the Philosopher's Stone ",
 ' Rowling, J.K. ',
 ' 4,200,654 ',
 ' Bloomsbury ',
 " Children's Fiction ",
 ' 4 ',
 ' Harry Potter and the Order of the Phoenix ',
 ' Rowling, J.K. ',
 ' 4,179,479 ',
 ' Bloomsbury ',
 " Children's Fiction ",
 ' 5 ',
 ' Fifty Shades of Grey ',
 ' James, E. L. ',
 ' 3,758,936 ',
 ' Random House ',
 ' Romance & Sagas ',
 ' 6 ',
 ' Harry Potter and the Goblet of Fire ',
 ' Rowling, J.K. ',
 ' 3,583,215 ',
 ' Bloomsbury ',
 " Children's Fiction ",
 ' 7 ',
 ' Harry Potter and the Chamber of Secrets ',
 ' Rowling, J.K. ',
 ' 3,484,047 ',
 ' Bloomsbury ',
 " Children's Fiction ",
 ' 8 ',
 ' Harry Potter and the Prisoner of Azkaban ',
 ' Rowling, J.K. ',
 ' 3,377,906 ',
 ' Bloomsbury ',
 " Children's Fiction ",
 ' 9 ',
 ' Angels and Demons ',
 ' Brown, Dan ',
 ' 3,193,946 ',
 ' Transworld ',
 ' Crime, Thriller & Adventure ',
 ' 10 ',
 " Harry Potter and the Half-blood Prince:Children's Edition ",
 ' Rowling, J.K. ',
 ' 2,950,264 ',
 ' Bloomsbury ',
 " Children's Fiction ",
 ' 11 ',
 ' Fifty Shades Darker ',
 ' James, E. L. ',
 ' 2,479,784 ',
 ' Random House ',
 ' Romance & Sagas ',
 ' 12 ',
 ' Twilight ',
 ' Meyer, Stephenie ',
 ' 2,315,405 ',
 ' Little, Brown Book ',
 ' Young Adult Fiction ',
 ' 13 ',
 ' Girl with the Dragon Tattoo,The:Millennium Trilogy ',
 ' Larsson, Stieg ',
 ' 2,233,570 ',
 ' Quercus ',
 ' Crime, Thriller & Adventure ',
 ' 14 ',
 ' Fifty Shades Freed ',
 ' James, E. L. ',
 ' 2,193,928 ',
 ' Random House ',
 ' Romance & Sagas ',
 ' 15 ',
 ' Lost Symbol,The ',
 ' Brown, Dan ',
 ' 2,183,031 ',
 ' Transworld ',
 ' Crime, Thriller & Adventure ',
 ' 16 ',
 ' New Moon ',
 ' Meyer, Stephenie ',
 ' 2,152,737 ',
 ' Little, Brown Book ',
 ' Young Adult Fiction ',
 ' 17 ',
 ' Deception Point ',
 ' Brown, Dan ',
 ' 2,062,145 ',
 ' Transworld ',
 ' Crime, Thriller & Adventure ',
 ' 18 ',
 ' Eclipse ',
 ' Meyer, Stephenie ',
 ' 2,052,876 ',
 ' Little, Brown Book ',
 ' Young Adult Fiction ',
 ' 19 ',
 ' Lovely Bones,The ',
 ' Sebold, Alice ',
 ' 2,005,598 ',
 ' Pan Macmillan ',
 ' General & Literary Fiction ',
 ' 20 ',
 ' Curious Incident of the Dog in the Night-time,The ',
 ' Haddon, Mark ',
 ' 1,979,552 ',
 ' Random House ',
 ' General & Literary Fiction ',
 ' 21 ',
 ' Digital Fortress ',
 ' Brown, Dan ',
 ' 1,928,900 ',
 ' Transworld ',
 ' Crime, Thriller & Adventure ',
 ' 22 ',
 ' Short History of Nearly Everything,A ',
 ' Bryson, Bill ',
 ' 1,852,919 ',
 ' Transworld ',
 ' Popular Science ',
 ' 23 ',
 ' Girl Who Played with Fire,The:Millennium Trilogy ',
 ' Larsson, Stieg ',
 ' 1,814,784 ',
 ' Quercus ',
 ' Crime, Thriller & Adventure ',
 ' 24 ',
 ' Breaking Dawn ',
 ' Meyer, Stephenie ',
 ' 1,787,118 ',
 ' Little, Brown Book ',
 ' Young Adult Fiction ',
 ' 25 ',
 ' Very Hungry Caterpillar,The:The Very Hungry Caterpillar ',
 ' Carle, Eric ',
 ' 1,783,535 ',
 ' Penguin ',
 ' Picture Books ',
 ' 26 ',
 ' Gruffalo,The ',
 ' Donaldson, Julia ',
 ' 1,781,269 ',
 ' Pan Macmillan ',
 ' Picture Books ',
 ' 27 ',
 " Jamie's 30-Minute Meals ",
 ' Oliver, Jamie ',
 ' 1,743,266 ',
 ' Penguin ',
 ' Food & Drink: General ',
 ' 28 ',
 ' Kite Runner,The ',
 ' Hosseini, Khaled ',
 ' 1,629,119 ',
 ' Bloomsbury ',
 ' General & Literary Fiction ',
 ' 29 ',
 ' One Day ',
 ' Nicholls, David ',
 ' 1,616,068 ',
 ' Hodder & Stoughton ',
 ' General & Literary Fiction ',
 ' 30 ',
 ' Thousand Splendid Suns,A ',
 ' Hosseini, Khaled ',
 ' 1,583,992 ',
 ' Bloomsbury ',
 ' General & Literary Fiction ',
 ' 31 ',
 " Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy ",
 ' Larsson, Stieg ',
 ' 1,555,135 ',
 ' Quercus ',
 ' Crime, Thriller & Adventure ',
 ' 32 ',
 " Time Traveler's Wife,The ",
 ' Niffenegger, Audrey ',
 ' 1,546,886 ',
 ' Random House ',
 ' General & Literary Fiction ',
 ' 33 ',
 ' Atonement ',
 ' McEwan, Ian ',
 ' 1,539,428 ',
 ' Random House ',
 ' General & Literary Fiction ',
 ' 34 ',
 " Bridget Jones's Diary:A Novel ",
 ' Fielding, Helen ',
 ' 1,508,205 ',
 ' Pan Macmillan ',
 ' General & Literary Fiction ',
 ' 35 ',
 ' World According to Clarkson,The ',
 ' Clarkson, Jeremy ',
 ' 1,489,403 ',
 ' Penguin ',
 ' Humour: Collections & General ',
 ' 36 ',
 " Captain Corelli's Mandolin ",
 ' Bernieres, Louis de ',
 ' 1,352,318 ',
 ' Random House ',
 ' General & Literary Fiction ',
 ' 37 ',
 ' Sound of Laughter,The ',
 ' Kay, Peter ',
 ' 1,310,207 ',
 ' Random House ',
 ' Autobiography: General ',
 ' 38 ',
 ' Life of Pi ',
 ' Martel, Yann ',
 ' 1,310,176 ',
 ' Canongate ',
 ' General & Literary Fiction ',
 ' 39 ',
 ' Billy Connolly ',
 ' Stephenson, Pamela ',
 ' 1,231,957 ',
 ' HarperCollins ',
 ' Biography: The Arts ',
 ' 40 ',
 ' Child Called It,A ',
 ' Pelzer, Dave ',
 ' 1,217,712 ',
 ' Orion ',
 ' Autobiography: General ',
 ' 41 ',
 " Gruffalo's Child,The ",
 ' Donaldson, Julia ',
 ' 1,208,711 ',
 ' Pan Macmillan ',
 ' Picture Books ',
 ' 42 ',
 " Angela's Ashes:A Memoir of a Childhood ",
 ' McCourt, Frank ',
 ' 1,204,058 ',
 ' HarperCollins ',
 ' Autobiography: General ',
 ' 43 ',
 ' Birdsong ',
 ' Faulks, Sebastian ',
 ' 1,184,967 ',
 ' Random House ',
 ' General & Literary Fiction ',
 ' 44 ',
 ' Northern Lights:His Dark Materials S. ',
 ' Pullman, Philip ',
 ' 1,181,503 ',
 ' Scholastic Ltd. ',
 ' Young Adult Fiction ',
 ' 45 ',
 ' Labyrinth ',
 ' Mosse, Kate ',
 ' 1,181,093 ',
 ' Orion ',
 ' General & Literary Fiction ',
 ' 46 ',
 ' Harry Potter and the Half-blood Prince ',
 ' Rowling, J.K. ',
 ' 1,153,181 ',
 ' Bloomsbury ',
 ' Science Fiction & Fantasy ',
 ' 47 ',
 ' Help,The ',
 ' Stockett, Kathryn ',
 ' 1,132,336 ',
 ' Penguin ',
 ' General & Literary Fiction ',
 ' 48 ',
 ' Man and Boy ',
 ' Parsons, Tony ',
 ' 1,130,802 ',
 ' HarperCollins ',
 ' General & Literary Fiction ',
 ' 49 ',
 ' Memoirs of a Geisha ',
 ' Golden, Arthur ',
 ' 1,126,337 ',
 ' Random House ',
 ' General & Literary Fiction ',
 ' 50 ',
 " No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S. ",
 ' McCall Smith, Alexander ',
 ' 1,115,549 ',
 ' Little, Brown Book ',
 ' Crime, Thriller & Adventure ',
 ' 51 ',
 ' Island,The ',
 ' Hislop, Victoria ',
 ' 1,108,328 ',
 ' Headline ',
 ' General & Literary Fiction ',
 ' 52 ',
 ' PS, I Love You ',
 ' Ahern, Cecelia ',
 ' 1,107,379 ',
 ' HarperCollins ',
 ' General & Literary Fiction ',
 ' 53 ',
 ' You are What You Eat:The Plan That Will Change Your Life ',
 ' McKeith, Gillian ',
 ' 1,104,403 ',
 ' Penguin ',
 ' Fitness & Diet ',
 ' 54 ',
 ' Shadow of the Wind,The ',
 ' Zafon, Carlos Ruiz ',
 ' 1,092,349 ',
 ' Orion ',
 ' General & Literary Fiction ',
 ' 55 ',
 ' Tales of Beedle the Bard,The ',
 ' Rowling, J.K. ',
 ' 1,090,847 ',
 ' Bloomsbury ',
 " Children's Fiction ",
 ' 56 ',
 ' Broker,The ',
 ' Grisham, John ',
 ' 1,087,262 ',
 ' Random House ',
 ' Crime, Thriller & Adventure ',
 ' 57 ',
 " Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P ",
 ' Atkins, Robert C. ',
 ' 1,054,196 ',
 ' Random House ',
 ' Fitness & Diet ',
 ' 58 ',
 ' Subtle Knife,The:His Dark Materials S. ',
 ' Pullman, Philip ',
 ' 1,037,160 ',
 ' Scholastic Ltd. ',
 ' Young Adult Fiction ',
 ' 59 ',
 ' Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation ',
 ' Truss, Lynne ',
 ' 1,023,688 ',
 ' Profile Books Group ',
 ' Usage & Writing Guides ',
 ' 60 ',
 " Delia's How to Cook:(Bk.1) ",
 ' Smith, Delia ',
 ' 1,015,956 ',
 ' Random House ',
 ' Food & Drink: General ',
 ' 61 ',
 ' Chocolat ',
 ' Harris, Joanne ',
 ' 1,009,873 ',
 ' Transworld ',
 ' General & Literary Fiction ',
 ' 62 ',
 ' Boy in the Striped Pyjamas,The ',
 ' Boyne, John ',
 ' 1,004,414 ',
 ' Random House Childrens Books G ',
 ' Young Adult Fiction ',
 ' 63 ',
 " My Sister's Keeper ",
 ' Picoult, Jodi ',
 ' 1,003,780 ',
 ' Hodder & Stoughton ',
 ' General & Literary Fiction ',
 ' 64 ',
 ' Amber Spyglass,The:His Dark Materials S. ',
 ' Pullman, Philip ',
 ' 1,002,314 ',
 ' Scholastic Ltd. ',
 ' Young Adult Fiction ',
 ' 65 ',
 ' To Kill a Mockingbird ',
 ' Lee, Harper ',
 ' 998,213 ',
 ' Random House ',
 ' General & Literary Fiction ',
 ' 66 ',
 ' Men are from Mars, Women are from Venus:A Practical Guide for Improvin ',
 ' Gray, John ',
 ' 992,846 ',
 ' HarperCollins ',
 ' Popular Culture & Media: General Interest ',
 ' 67 ',
 ' Dear Fatty ',
 ' French, Dawn ',
 ' 986,753 ',
 ' Random House ',
 ' Autobiography: The Arts ',
 ' 68 ',
 ' Short History of Tractors in Ukrainian,A ',
 ' Lewycka, Marina ',
 ' 986,115 ',
 ' Penguin ',
 ' General & Literary Fiction ',
 ' 69 ',
 ' Hannibal ',
 ' Harris, Thomas ',
 ' 970,509 ',
 ' Random House ',
 ' Crime, Thriller & Adventure ',
 ' 70 ',
 ' Lord of the Rings,The ',
 ' Tolkien, J. R. R. ',
 ' 967,466 ',
 ' HarperCollins ',
 ' Science Fiction & Fantasy ',
 ' 71 ',
 ' Stupid White Men:...and Other Sorry Excuses for the State of the Natio ',
 ' Moore, Michael ',
 ' 963,353 ',
 ' Penguin ',
 ' Current Affairs & Issues ',
 ' 72 ',
 ' Interpretation of Murder,The ',
 ' Rubenfeld, Jed ',
 ' 962,515 ',
 ' Headline ',
 ' Crime, Thriller & Adventure ',
 ' 73 ',
 ' Sharon Osbourne Extreme:My Autobiography ',
 ' Osbourne, Sharon ',
 ' 959,496 ',
 ' Little, Brown Book ',
 ' Autobiography: The Arts ',
 ' 74 ',
 ' Alchemist,The:A Fable About Following Your Dream ',
 ' Coelho, Paulo ',
 ' 956,114 ',
 ' HarperCollins ',
 ' General & Literary Fiction ',
 ' 75 ',
 " At My Mother's Knee ...:and Other Low Joints ",
 " O'Grady, Paul ",
 ' 945,640 ',
 ' Transworld ',
 ' Autobiography: The Arts ',
 ' 76 ',
 ' Notes from a Small Island ',
 ' Bryson, Bill ',
 ' 931,312 ',
 ' Transworld ',
 ' Travel Writing ',
 ' 77 ',
 ' Return of the Naked Chef,The ',
 ' Oliver, Jamie ',
 ' 925,425 ',
 ' Penguin ',
 ' Food & Drink: General ',
 ' 78 ',
 ' Bridget Jones: The Edge of Reason ',
 ' Fielding, Helen ',
 ' 924,695 ',
 ' Pan Macmillan ',
 ' General & Literary Fiction ',
 ' 79 ',
 " Jamie's Italy ",
 ' Oliver, Jamie ',
 ' 906,968 ',
 ' Penguin ',
 ' National & Regional Cuisine ',
 ' 80 ',
 ' I Can Make You Thin ',
 ' McKenna, Paul ',
 ' 905,086 ',
 ' Transworld ',
 ' Fitness & Diet ',
 ' 81 ',
 ' Down Under ',
 ' Bryson, Bill ',
 ' 890,847 ',
 ' Transworld ',
 ' Travel Writing ',
 ' 82 ',
 ' Summons,The ',
 ' Grisham, John ',
 ' 869,671 ',
 ' Random House ',
 ' Crime, Thriller & Adventure ',
 ' 83 ',
 ' Small Island ',
 ' Levy, Andrea ',
 ' 869,659 ',
 ' Headline ',
 ' General & Literary Fiction ',
 ' 84 ',
 ' Nigella Express ',
 ' Lawson, Nigella ',
 ' 862,602 ',
 ' Random House ',
 ' Food & Drink: General ',
 ' 85 ',
 ' Brick Lane ',
 ' Ali, Monica ',
 ' 856,540 ',
 ' Transworld ',
 ' General & Literary Fiction ',
 ' 86 ',
 " Memory Keeper's Daughter,The ",
 ' Edwards, Kim ',
 ' 845,858 ',
 ' Penguin ',
 ' General & Literary Fiction ',
 ' 87 ',
 ' Room on the Broom ',
 ' Donaldson, Julia ',
 ' 842,535 ',
 ' Pan Macmillan ',
 ' Picture Books ',
 ' 88 ',
 ' About a Boy ',
 ' Hornby, Nick ',
 ' 828,215 ',
 ' Penguin ',
 ' General & Literary Fiction ',
 ' 89 ',
 ' My Booky Wook ',
 ' Brand, Russell ',
 ' 820,563 ',
 ' Hodder & Stoughton ',
 ' Autobiography: The Arts ',
 ' 90 ',
 ' God Delusion,The ',
 ' Dawkins, Richard ',
 ' 816,907 ',
 ' Transworld ',
 ' Popular Science ',
 ' 91 ',
 ' "Beano" Annual,The ',
 ' 0 ',
 ' 816,585 ',
 ' D.C. Thomson ',
 " Children's Annuals ",
 ' 92 ',
 ' White Teeth ',
 ' Smith, Zadie ',
 ' 815,586 ',
 ' Penguin ',
 ' General & Literary Fiction ',
 ' 93 ',
 ' House at Riverton,The ',
 ' Morton, Kate ',
 ' 814,370 ',
 ' Pan Macmillan ',
 ' General & Literary Fiction ',
 ' 94 ',
 ' Book Thief,The ',
 ' Zusak, Markus ',
 ' 809,641 ',
 ' Transworld ',
 ' General & Literary Fiction ',
 ' 95 ',
 ' Nights of Rain and Stars ',
 ' Binchy, Maeve ',
 ' 808,900 ',
 ' Orion ',
 ' General & Literary Fiction ',
 ' 96 ',
 ' Ghost,The ',
 ' Harris, Robert ',
 ' 807,311 ',
 ' Random House ',
 ' General & Literary Fiction ',
 ' 97 ',
 ' Happy Days with the Naked Chef ',
 ' Oliver, Jamie ',
 ' 794,201 ',
 ' Penguin ',
 ' Food & Drink: General ',
 ' 98 ',
 ' Hunger Games,The:Hunger Games Trilogy ',
 ' Collins, Suzanne ',
 ' 792,187 ',
 ' Scholastic Ltd. ',
 ' Young Adult Fiction ',
 ' 99 ',
 " Lost Boy,The:A Foster Child's Search for the Love of a Family ",
 ' Pelzer, Dave ',
 ' 791,507 ',
 ' Orion ',
 ' Biography: General ',
 ' 100 ',
 " Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours ",
 ' Oliver, Jamie ',
 ' 791,095 ',
 ' Penguin ',
 ' Food & Drink: General ']

In [184]:
import pandas as pd
df= pd.DataFrame({'Books':title[2::6],'Authors':title[3::6],'Volume Sales':title[4::6],'Genre':title[6::6]})
df

,Books,Authors,Volume Sales,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805","Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Romance & Sagas
...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the ...","Pelzer, Dave","791,507",Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to ...,"Oliver, Jamie","791,095",Food & Drink: General

#### 7) Write a python program to scrape mentioned details from dineout.co.in and make data frame
i) Restaurant name ii) Cuisine iii) Location iv) Ratings v) Image URL

In [ ]:
page = requests.get('https://www.dineout.co.in/hyderabad?loc=Hyderabad')

In [ ]:
page

In [ ]:
soup = BeautifulSoup(page.content)
soup

In [ ]:
Restaurant=[]

for i in soup.find_all('div',class_="restnt-info cursor"):
    Restaurant.append(i.text)
    
Restaurant

In [ ]:
cusine = []

for n in soup.find_all('span',class_="double-line-ellipsis"):
    cusine.append(n.text)
    
cusine

In [ ]:
location =[]

for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)
    
location

In [ ]:
Ratings = []

for v in soup.find_all('div',class_="restnt-rating rating-4"):
    Ratings.append(v.text)
    
Ratings

In [ ]:
Img_url = []

for v in soup.find_all('img',class_="no-img"):
    Img_url.append(v['data-src'])
    
Img_url

In [ ]:
print(len(Restaurant),len(cusine),len(location),len(Ratings),len(Img_url))

In [ ]:
import pandas as pd
df = pd.DataFrame({'Restaurant name':Restaurant,'Cusine':cusine,'Location':location,'Ratings':Ratings,'Img_url':Img_url})
df